<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Обо мне</title>
   <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/reset.css">
    <link rel="stylesheet" href="../static/reset.min.css">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <p>Обо мне</p>
            <ul>
                <li><a href="index.html">Главная</a></li>
                <li><a href="about.html">Обо мне</a></li>
                <li><a href="contacts.html">Обратная связь</a></li>
            </ul>
        </div>
    </nav>

    <div class="content">
        <div class="hobby">
            <h1>Несколько слов о себе</h1>
            <hr>
             <img src="https://sun9-79.userapi.com/impf/c849528/v849528428/3750c/9SLn9Q1W2aM.jpg?size=2560x1707&quality=96&sign=e894e2e8376e9cb8807fd89b07051d09&type=album" alt="html" width="400" height="400" align="left" style="position: relative; left: 20px;">
            <p style="width: 75%">Я == ДЖИГИТ </p>
        </div>
    </div>
</body>
</html>